// ========ПЕРЕМЕННЫЕ=====================
// минимальная ширина
$minWidth: 320px;
// ширина полотна
$maxWidth: 1152;
//ширина контейнера
$maxWidthContainer: 1050;
// брейкпоинты на адаптив
$md1: $maxWidthContainer + 12;
$md1: 991.98 + px;
$md2: 767.98 + px;
$md3: 479.98 + px;

// ========ПЕРЕМЕННЫЕ=====================

// ==ОСНОВНАЯ СЕТКА========================================

._container {
  position: relative;
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 930px;
  }
  @media (max-width: $md2) {
    max-width: 730px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }
}

// ==ОСНОВНАЯ СЕТКА========================================

@import "mixins";
@import "fonts";
@import "icons";
@import "reset";
// header
@import "header";
// container
@import "./parts/main-title-with-btn.scss";
@import "./parts/row-list.scss";
@import "./parts/cards-item.scss";
@import "./parts/providing-business.scss";
//footer
@import "footer";

body {
  background-color: #252b42;
  color: #21243d;
  font-size: 14px;
  // &._lock{
  // 	overflow: hidden;
  // }
  .wrapper {
    @media (max-width: $md1) {
      background-position: top;
    }
  }
  .background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../img/background/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100%;
    // max-height: 740px;
    @media (max-width: $md2) {
      // height: 1767px;
      background-position: center;
    }
  }
  .background-darckblue {
    // width: 100%;
    // height: 100%;
    // background-color: darkblue;
    // background-position: 100% 100%;
    // position: absolute;
    // top: 50vh;
    // left: 0;
    // z-index: -2;
  }
}
